# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/

# Build
out/
build/

# Environment files
#.env
#config.properties

# OS metadata
.DS_Store

#Allure
allure-report/
allure-results/
.allure/